.vscode/
.venv/
venv/
__pycache__/
.mypy_cache/
.ruff_cache/
build/
dist/

datasets_bck/
datasets-all/
datasets/
results/
results (ja aplicados)/
results (old)/
results-seed/
results-teste/

plots/
path_for_results/
*.dat
*.png
*.csv
